# Archivos que deben ser añadidos por el usuario
cv.pdf
assets/images/project1.jpg
assets/images/project2.jpg
assets/images/project3.jpg

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos temporales
*.tmp
*.temp

# Logs
*.log